# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
Save_VIa/1312ag_SignalBack.txt
Save_VIa/1312ag_SignalBack.txt
Save_VIa/1312ag_SignalBack_cros.txt
Save_VIa/1312ag_SignalBack_Hist.txt
Save_VIa/1312ag_SignalBack_IF32.txt

Data_logging/filedate_set.txt